<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/" method="get">
        <button class="link-primary d-flex btn">
            <svg style="height: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#0d6efd" d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/></svg>        <div>На главную страницу</div>
        </button>
    </form>
    <div class="d-flex justify-content-center">
        <div>
            <div style="width: 300px;">
                <div style="margin-top: 15px;"><h3>Войти</h3></div>
                <div class="login form-outline mb-4" style="margin-top: 20px;">
                    <label class="form-label" for="login">Логин</label>
                    <input type="text" id="login" name="login" class="login form-control mb-2">
                    <div id="loginLabel"></div>
                    <label class="form-label" for="password">Пароль</label>
                    <input type="password" id="password" name="password" class="password  form-control">
                    <div id="passwordLabel"></div>
                    <button class="btn btn-primary btn-block mt-2" onclick="login()">Войти</button>
                </div>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 20px;">
                <form style="align-self: center;" action="/reg" method="get" class="text-center">
                    <p>Еще не зарегистрировались?<button class="Submit btn btn-link pt-0">Создать аккаунт</button></p>
                </form>
            </div>  
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="scriptForLoginAndSignUp.js"></script>
</body>
</html>